body {
  min-width: 1920px;
  min-height: 923px;
  overflow-x: hidden;
}

/*리스트 기본 스타일 속성 초기화*/
li, ul, ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/*구획 나누기*/
#main{
  background-image: url('example_Home.png');
}

#home_main_middle{
  margin-left: 335px;
  width: 1500px;
  height: 920px;
}

#home_middle_area{
  width: 1013px;
  padding-top: 40px;
  margin: 0 auto;
}

#home_main_right{
  width: 310px;
  height: 880px;
  padding-left: 72px;
  float: left;
}

#main_information_area{
  width: 287px;
  height: 111px;
  padding : 0px 11px 0px 11px;
  margin: 0px 0px 8px 0px;
  font-size: 12px;
  color: #C7C7C7;
}

#home_main_contents{
    width: 630px;
    float: left;
}

/*상단 스토리*/
#main_contents_story{
  width: 630px;
  height: 85px;
  padding: 8px 0px 8px 3px;
  overflow: hidden;
}

.story_friend_ul{
  width: auto;
}

.story_upload{
  width: 80px;
  height: 85px;
  padding-right: 14px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story_upload_btn{
  width: 80px;
  height: 65px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.story_upload_btn_img{
  width: 60px;
  height: 60px;
  border-radius: 70%;
  object-fit: cover;
  cursor: pointer;
}
.story_upload_btn_img:hover{
  opacity: 0.5;
}

.story_friend_ul li{
  width: 80px;
  height: 85px;
  padding-right: 12px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story_profile_img{
  width: 66px;
  height: 66px;
  border-radius: 70%;
  object-fit: cover;
  cursor: pointer;
}

.story_accountName{
  width: 66px;
  height: 16px;
  padding-top: 5px;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;  /*... �����*/
  white-space: nowrap; 	/*�ٹٲ� ����*/
  cursor: pointer;
}

.story_arrow_prev{
  width: 20px;
  height: 65px;
  margin: 0px 5px 0px 5px;
  display: flex;
  align-items: center;
  position: absolute;
}
.story_arrow_next{
  width: 20px;
  height: 65px;
  margin: 0px 5px 0px 5px;
  right: 680px;
  display: flex;
  align-items: center;
  position: absolute;
}

.story_arrow_img{
  width: 20px;
  height: 20px;
  object-fit: cover;
  cursor: pointer;
}

/*메인 피드*/
#main_contents_feed{
  width: 630px;
  height: 100%;
  margin-top: 5px;
}

.feed_component{
  width: 470px;
  height: auto;
  padding-top: 40px;
  padding-bottom:15px;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.comp_account{
  width: 466px;
  height: 34px;
  padding: 0px 0px 12px 4px;
}

.feed_profile{
  width: 32px;
  height: 32px;
  border-radius: 70%;
  object-fit: cover;
  float: left;
  cursor: pointer;
}

.comp_account_name{
  width: 390px;
  height: 18px;
  padding-top: 7px;
  margin-left: 7px;
  cursor: pointer;
  float: left;
}

.comp_account_option{
  width: 34px;
  height: 34px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp_option_icon{
  width: 20px;
  height: 20px;
  object-fit: cover;
  float: right;
  cursor: pointer;
}

.comp_post{
  width: 468px;
  height: 468px;
  border : 1px solid #DBDBDB;
  border-radius: 5px;
  overflow : hidden;
}
.comp_post ul{
	width: 4680px;
	height: 468px;
}
.comp_post li{
	float : left;
}

.comp_PIS_feed {
  width: 470px;
  height: 40px;
  margin: 4px 0px;
}

.feed_contents_arrow{
  width: 456px;
  height: 468px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  margin-top:-468px;
}

.post{
  width: 468px;
  height: 468px;
  border-radius: 5px;
  object-fit: cover;
}

.comp_PIS{
  width: 470px;
  height: 40px;
  margin: 4px 0px;
}

.comp_PIS_L{
  width: 235px;
  height: 40px;
  float: left;
}
.comp_PIS_icon{
  width: 24px;
  height: 24px;
  padding: 8px 8px 8px 8px;
  object-fit: cover;
  float: left;
  cursor: pointer;
}
.comp_PIS_icon:hover{
  opacity: 0.5;
}

.comp_PIS_R{
  width: 235px;
  height: 40px;
  margin-left: 235px;
}
.comp_bookmark_icon{
  width: 24px;
  height: 24px;
  padding: 8px;
  object-fit: cover;
  float: right;
  cursor: pointer;
}
.comp_bookmark_icon:hover{
  opacity: 0.5;
}

.comp_like{
  width: 470px;
  height: 18px;
}

.comp_text{
  width: 470px;
  height: 36px;
}

.comp_comment{
  width: 470px;
  height: 18px;
}

.comp_comment_writing{
  width: 470px;
  height: 18px;
}

/*댓글*/
#main_recommend{
  width: 310px;
  height: 430px;
  margin-top: 18px;
}

#recommend_myAccount{
  width: 288px;
  height: 44px;
  padding: 0px 11px 0px 11px;
}

.myAccount_img_class{
  width: 44px;
  height: 44px;
  border-radius: 70%;
  object-fit: cover;
  cursor: pointer;
  float: left;
}

.Account_ID{
  width: 195px;
  height: 44px;
  margin: 5px 0px 0px 10px;
  float: left;
}

#Account_myID{
  width: 195px;
  height: 18px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#Account_myIntro{
  width: 195px;
  height: 18px;
  font-size: 14px;
}

#myAccount_switch{
  width: 36px;
  height: 44px;
  font-size: 12px;
  font-weight: bolder;
  color: #0095F6;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

#recommend_otherAccount{
  width: 310px;
  height: 350px;
  margin : 24px 0px 8px 0px;
}

.recommend_randomList{
  margin-left: 10px;
}

.recommend_randomList li{
  display: flex;
  align-items: center;
}

.otherAccount_img_class{
  width: 44px;
  height: 44px;
  border-radius: 70%;
  object-fit: cover;
  cursor: pointer;
  float: left;
}

.Account_otherID{
  width: 179px;
  height: 17px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 5px;
}

.Account_otherIntro{
  width: 179px;
  height: 17px;
  font-size: 12px;
  color: #737373;
}

.otherAccount_follow{
  width: 36px;
  height: 44px;
  font-size: 12px;
  font-weight: bolder;
  color: #0095F6;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

#recommend_otherAccount_seeAllList{
  width: 288px;
  height: 11px;
  padding: 4px 11px 4px 11px;
  font-size: 12px;
}

#seeAllList_btn{
  width: 55px;
  height: 16px;
  font-size: 12px;
  font-weight: bolder;
  float: right;
  cursor: pointer;
}

#recommend_otherAccount_list{
  width: 310px;
  height: 300px;
  padding: 8px 0px 8px 0px;
}

#recommend_otherAccount_list ul li{
  width: 310px;
  height: 60px;
}